@model IEnumerable<WebFinal.Models.Yonetim>
@{
    <div class="text-center">
        <h1 style="background-color:aqua;" class="display-4">Yönetim listele</h1>
    </div>
    <body style="background-color: aqua;">
    </body>
}
<table class="table">
    <thead>
        <tr>
            <th style="background-color:#ffd09e;">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th style="background-color:#ffd09e;">
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th style="background-color:#ffd09e;">
                @Html.DisplayNameFor(model => model.Soyad)
            </th>
            <th style="background-color:#ffd09e;">
                @Html.DisplayNameFor(model => model.Gorevi)
            </th>
            <th style="background-color:#ffd09e;">
                @Html.DisplayNameFor(model => model.YonetimTip11)
            </th>
            <th style="background-color:#ffd09e;">
                @Html.DisplayNameFor(model => model.YonetimTip12)
            </th>
            <th style="background-color:#ffd09e;">
                @Html.DisplayNameFor(model => model.YonetimTip13)
            </th>
            <th style="background-color:#fdffeb">
                @Html.DisplayNameFor(model => model.Controler)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="background-color:#b0b4ff">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td style="background-color:#b0b4ff">
                    @Html.DisplayFor(modelItem => item.Ad)
                </td>
                <td style="background-color:#b0b4ff">
                    @Html.DisplayFor(modelItem => item.Soyad)
                </td>
                <td style="background-color:#b0b4ff">
                    @Html.DisplayFor(modelItem => item.Gorevi)
                </td>
                <td style="background-color:#b0b4ff">
                    @Html.DisplayFor(modelItem => item.YonetimTip11)
                </td>
                <td style="background-color:#b0b4ff">
                    @Html.DisplayFor(modelItem => item.YonetimTip12)
                </td>
                <td style="background-color:#b0b4ff">
                    @Html.DisplayFor(modelItem => item.YonetimTip13)
                </td>
                <td style="background-color:#fdffeb">
                    @Html.ActionLink("Guncelle", "YonetimDetay", new {  id=item.Id  })|
                    @Html.ActionLink("Detalist", "YonetimDetay", new {  id=item.Id  })|
                    @Html.ActionLink("Sil", "YonetimSil", new {  id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>